--------------------------------------------------------------------
                    【侠客行一百规则篇】
--------------------------------------------------------------------
        为保证程序正常运行与广大玩家利益，制定以下规则，不能遵
   守者请勿加入本游戏，谢谢。

   ※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※
   ※                                                        ※
   ※            守则内容                       违规处理办法 ※
   ※--------------------------------------------------------※
   ※●  请在公开交谈时尽量使用中文。          警告          ※
   ※●  进行私人交谈请用 tell 或 reply 。     警告          ※
   ※●  请勿故意使用和他人一模一样的姓名。    勒令改名      ※
   ※●  多人共用一个id将视作自愿承担连带后果。具体连带处理  ※
   ※●  利用他人id进行PK。                    封主id及操刀id※
   ※●  请勿辱骂任何一位玩家。                警告至杀档    ※
   ※●  请勿向巫师提出修改数据的要求。        警告、降级    ※
   ※●  严禁利用ＢＵＧ牟利。                  警告至杀档    ※
   ※●  严禁有意利用系统缺陷进行宕机。        杀档          ※
   ※●  严禁用任何方式Flood系统频道。         杀档          ※
   ※●  请勿交谈有关政治性的敏感话题。        杀档          ※
   ※●  请勿散布色情、暴力、迷信内容的话题。  杀档          ※
   ※●  巫师遵守以上规则外，还要遵守wizrules。开除          ※
   ※                                                        ※
   ※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※

         巫师保留对犯规行为采取更严厉的处理办法的权利。[0m
